
{# ----------- SESSION bits - isLoggedIn and username ------- #}
{% set username = session.username %}

{% if username is null %}
    {% set isLoggedIn = false %}
{% else %}
    {% set isLoggedIn = true %}
{% endif %}
{# ----------- SESSION bits - isLoggedIn and username ------- #}

<!doctype html>
<html lang="en">
<head>
    <title>EVOTE MOVIE - {% block pageTitle %}{% endblock %} page</title>
    <meta charset="utf-8">
    <style>
        @import "/css/basic.css";
        @import "/css/nav.css";
        @import "/css/footer.css";
    </style>
</head>
<body>



<header>
    <!-- LOGIN LINK -->
    <span style="float: right; text-align: right;">
        {% if isLoggedIn %}
        You are logged in as: <strong>{{ username }}</strong>
            <br>
            <a href="index.php?action=logout">Logout</a>
        {% else %}
        <a href="index.php?action=login">Login</a>
        {% endif %}
    </span>

    <!-- LOGO -->
    <img src="/images/smithit_logo.gif" alt="logo">
</header>


<nav>
    <ul>
        <li>
            <a href="index.php" class="{% block homePageStyle %}{% endblock %}">Home</a>
        </li>

        <li>
            <a href="index.php?action=about"  class="{% block aboutPageStyle %}{% endblock %}">About Us</a>
        </li>

        <li>
            <a href="index.php?action=list"  class="{% block listPageStyle %}{% endblock %}">Movie ratings</a>
        </li>

        <li>
            <a href="index.php?action=listCheap"  class="{% block listCheapPageStyle %}{% endblock %}">cheap movies</a>
        </li>

        <li>
            <a href="index.php?action=contact"  class="{% block contactPageStyle %}{% endblock %}">Contact Us</a>
        </li>

        <li>
            <a href="index.php?action=sitemap"  class="<{% block sitemapPageStyle %}{% endblock %}">Site Map</a>
        </li>

        <li>
            <a href="index.php?action=charts"  class="{% block chartPageStyle %}{% endblock %}">Charts</a>
        </li>
    </ul>
</nav>

{% block body %}
{% endblock %}


<footer>
    2019 &copy; A Matt Smith productions international enterprises limited production
</footer>

</body>
</html>