{% extends 'base.html.twig' %}

{% block pageTitle %}home{% endblock %}

{% block homePageStyle %}current_page{% endblock %}

{% block body %}
<h1>
Welcome to SmithIT Home Page
</h1>

<p>
This site offers you the chance to VOTE on your favourite movies ...
</p>

{% endblock %}